<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.online_pharmacies.mapper.DrugdrugtypeMapper">
    <select id="pageC" resultType="com.online_pharmacies.entity.Drugdrugtype">
        select * from drugdrugtype ${ew.customSqlSegment}
    </select>
</mapper>
